<div id="posts_list">
  <% if posts.any? %>
    <div class="ps-cards-grid">
      <% posts.each do |post| %>
        <%= render "posts/post", post: post, current_user: current_user %>
      <% end %>
    </div>
  <% else %>
    <div class="ps-cards-grid">
      <p class="ps-empty">No announcements available right now. <%= link_to "Create one!", new_post_path %></p>
    </div>
  <% end %>
</div>
