<% content_for :title, t("posts.edit.title") %>
<div class="ps-form-page">
  <div class="ps-modal__card">
    <header class="ps-modal__header">
      <div>
        <span class="ps-find__label"><i class="fa-solid fa-pen"></i> Editing your announcement</span>
        <h2 class="ps-modal__title"><%= t("posts.edit.title") %></h2>
      </div>
    </header>

    <div class="ps-modal__body">
      <%= render "form", post: @post %>
    </div>
  </div>
</div>
