.modals {
  background-color: #8C97DF;
  border-color: #8C97DF;
  text-align: center;
  width: 80rem;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
